@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background: black;
  color: white;
  width: 23rem;
  margin: 1.5rem auto;
}
.App {
  border: white solid 0.3rem;
  border-radius: 2rem;
}
input,
select {
  width: 8rem;

  background-color: grey;
  padding: 0.5rem 0.5rem;
}
select {
  width: 9.1rem;
}
#input {
  max-width: 65%;
  margin: auto;
}

#output {
  margin: 2rem auto;
  border-radius: 2rem;
  border: solid white;
  width: 15rem;
  padding: 2rem 2rem;
}

#outerSwitch {
  height: 1.6rem;
  width: 3.5rem;
  border-radius: 2rem;
  text-align: left;
  float: right;
  margin: 1rem;
  color: grey;
}

#innerSwitch {
  height: 1rem;
  width: 1rem;
  background: grey;
  border-radius: 2.4rem;
}
