@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background: black;
  color: white;
}

input,
select {
  width: 8rem;

  float: right;
  background-color: grey;
  padding: 0.5rem 0.5rem;
}
select {
  width: 9.1rem;
}
#input {
  max-width: 95%;
  margin: 5rem 3rem;
}

#input label {
  float: left;
}

#output {
  border: solid white;
  margin: 2rem 2rem;
  border-radius: 2rem;
  padding: 2rem 2rem;
}
