@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background: black;
  color: white;
}

input,
select {
  width: 5rem;
  margin: 1rem 15rem;
  background-color: grey;
  padding: 0.5rem 0.5rem;
}

#output {
  border: solid white;
  margin: 2rem;
  border-radius: 2rem;
  padding: 2rem 2rem;
}
